html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  color: #888;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

a:hover {
    color: #268bd2;
}

a span {
    font-weight: 300;
    padding-right: 2px;
}

a:hover span {
    color: #0C63b0;
}


ul, ol {
  padding-left: 25px;
}

header {
  padding: 40px;
}

header h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 10px;
  margin: 0 0 0 4px;
}

header ul {
  margin: 25px 0 0;
  list-style:none;
}
.list-inline>li{display:inline-block;padding-right:10px}

header ul li {
  font-weight: 700;
}
.current{
    color: #268bd2
}

p {
    color: #aaa;
    
}

div.body {
    padding-left: 65px
}

.citation{
    padding-left: 40px;
    font-weight: 500;
}




