html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
    color: #268bd2;
}

a span {
    font-weight: 300;
    padding-right: 2px;
}

a:hover span {
    color: #0C63b0;
}

a, a span {
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

ul, ol {
  margin: 0 0 0 0;
  padding-left: 0px;
  list-style:none;
}
.navbar{
    margin: 20px 0 20px 0;
}
.navbar>li{display:inline-block;padding-right:10px}

ul li {
    font-weight: 700;
}
.current{
    color: #268bd2
}

header {
  padding-left: 40px;
  padding-top: 40px;
  margin: 0 0 0 0;
}

h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 10px;
    margin: 0 0 0 0px;
}

h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0 0 20px 0;
}

p {
    color: #aaa;
}

div.body {
    margin: 0 0 0 0;
    padding-left: 65px
}

.citation{
    padding-left: 40px;
    font-weight: 500;
}




